@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>
<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (isLoading)
{
    <img src="/loading-loading-symbol.gif" />
}

@if (!isLoading && Forecasts is not null)
{
    <Forecasts WeatherForecasts="Forecasts" />
    <br />
    <button class="btn btn-outline-info" @onclick="LoadForecasts">Refresh Forecasts</button>
}